h1
  | Your Individual Emotional
  br
  | Imprint (IEI) is ready.

.bg
  .header
    .a Individual emotional imprint (IEI)
    .b= '#' + hash
    .c
      | Composite
      br
      | Emotional Index
    .d= timing.average.toString().substr(0, 3)
    .horiz
    .vert

  .timing
    .a
      h2 Anger
      h3= 'index ' + timing.times[1] + ' | ' + timing.text[0].toLowerCase()
    .b
      h2 Love
      h3= 'index ' + timing.times[1] + ' | ' + timing.text[1].toLowerCase()
    .c
      h2 Fear
      h3= 'index ' + timing.times[2] + ' | ' + timing.text[2].toLowerCase()
    .d
      h2 Sadness
      h3= 'index ' + timing.times[3] + ' | ' + timing.text[3].toLowerCase()
    .e
      h2 Joy
      h3= 'index ' + timing.times[4] + ' | ' + timing.text[4].toLowerCase()
    .f
      h2 Surprise
      h3= 'index ' + timing.times[5] + ' | ' + timing.text[5].toLowerCase()


  .footer
    .logo
    .top
    .vert
    .big The Human Preservation Initiative
    .small
      | The Human Preservation Initiative (HPI), is concerned with the acquisition and conservation of artifacts
      br
      | related to the human species. In the event of our complete extinction, we will have gathered the materials
      br
      | necessary to insure the eventual re-introduction of our species at a suitably hospitable future time or place.

form
  h2 Now get a print of your IEI
  h2.orange Enter email for instructions:

  input(type='email', placeholder='your email address')
  input.submit(type='submit', value='receive instructions')
  a.skip(href='#') end session
